#experience{
    padding-top: 40px;
}

.title{
    text-align: center;
    margin-top: -80px;
    h2{
        margin-bottom: 20px;
        color: #4db5ff;
    }
}

.experience__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    /* margin-left: 50px; */
}
.experience__container > div{
    background: var(--color-bg-variant);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;


}
.experience__container > div:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}
.experience__container > div h3{
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary);
}
.experience__content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem ;
}
.experience__details{
    display:flex;
gap: 1rem;
}
.experience__details-icon{
    margin-top: 6px;
}


/* ***********************medium devices */
@media(max-width:1024px){
    .experience__container{
        grid-template-columns: 1fr;
        margin: auto;
        
    }
    .experience__container > div{
        width: 90%;
        padding: 1rem;
        margin: 0 auto;
        margin-bottom: 50px;
    }
    .experience__content{
        padding:1rem;
    }
}


/* ***********************small devices */
@media(max-width:600px){
    .title{
        margin-top: -30px;
     
    }
    
    .container{
        margin-top: -30px;
    }
    .experience__container{
        gap: .5rem;
        
    }
    .experience__container > div{
        width: 95%;
        padding: 1rem .2rem;
        margin-bottom: 30px;
    }
}